.formAddContact {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.decorInput {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 15px;
}

.input {
  width: 50%;
  border-radius: 10px;
  padding: 5px;
}

.btnAdd {
  padding: 3px;
  width: 52%;
  border: none;
  border-radius: 10px;
  background-color: rgb(15, 159, 15);
}

.btnAdd:disabled {
  background-color: rgb(241, 10, 10);
  color:rgb(228, 240, 240);
}
