.listContacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(182, 162, 162);
  border-radius: 10px;
  padding: 10px;
}

.contactTel {
  display: flex;
  gap: 10px;
}
.btnDel {
  display: flex;
  border: none;
  background-color: inherit;
  padding: 2px;
}

.btnDel:disabled {
  transform: none;
  color: rgb(85, 79, 79);
  box-shadow: none;
}
